* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: outfit-regular;
  src: url("../fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: outfit-bold;
  src: url("../fonts/Outfit-Bold.ttf");
}

body {
  font-family: outfit-regular, sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1rem;
  background-color: #fff;
  border-radius: 14px;
}

.container img {
  width: 100%;
  border-radius: 9px;
}

.container h2 {
  font-family: outfit-bold;
  padding: 1rem;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

.container p {
  text-align: center;
  padding: 0 1rem 1rem;
  color: hsl(218, 44%, 22%);
}

@media screen and (min-width: 376px) {
  body {
    max-width: 1440px;
  }

  .container {
    max-width: 343px;
  }
}
